.home {
  background-color: black;
}

.rectangle {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color:#F5F5F5;
  animation: scale-up-center 1.2s ease 0s 1 normal none;
}
@keyframes scale-up-center {
  0%{
    transform: scaleX(.1);
  }
  100%{
    transform: scaleX(1);
  }
}  

  .section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }
  .happy-cher-day {
    z-index: 4;
    color: black;
  }

  .MuiImageList-woven {
    z-index: 4;
    margin-top: 5vh;
    max-width: 350px;
  }

  .home .MuiGrid-container {
    z-index: 4;
    margin-top: 35vh;
  }

  @media screen and (min-width: 900px) {
    .MuiImageList-woven {
      max-width: 50%;
    }
    .section {
      padding-top: 150px;
    }
  }

  .home .blob {
    z-index: 4;
    padding-top: 100px;
  }

  .home .btn {
    margin-top: 100px;
    margin-bottom: 150px;
  }
