.gridContainer {
    max-width: 60vw;
    max-height: 60vh;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }
  .happy-cher-day {
    /* position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); */
    color: black;
    z-index: 10;
  }

  .MuiImageList-woven {
    margin-top: 5vh;
    max-width: 350px;
  }

  @media screen and (min-width: 900px) {
    .MuiImageList-woven {
      max-width: 50%;
    }
    .section {
      padding-top: 150px;
    }
  }