#root {
  background-color: black;
}

.rectangle {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color:#F5F5F5;
  animation: scale-up-center 1.2s ease 0s 1 normal none;
}
@keyframes scale-up-center {
  0%{
    transform: scaleX(.1);
  }
  100%{
    transform: scaleX(1);
  }
}

.gridContainer {
    max-width: 60vw;
    max-height: 60vh;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }
  .happy-cher-day {
    /* position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); */
    color: black;
  }

  .MuiImageList-woven {
    margin-top: 5vh;
    max-width: 350px;
  }

  .MuiGrid-container {
    margin-top: 35vh;
  }

  @media screen and (min-width: 900px) {
    .MuiImageList-woven {
      max-width: 50%;
    }
    .section {
      padding-top: 150px;
    }
  }