#card {
    background-color:   #ffdc90;
    min-height: 100vh;
}

#card .slider-settings{
    height: 100%;
    padding-top: 10vh;
    max-width: 85vw;
    margin: auto;
}

.pagination {
    position: fixed !important;
    bottom: 0;
}

.pagination.prev {
    left: 1vw;
}
.pagination.next {
    right: 1vw;
}